.SearchResultItem-layout {
	padding: 4px;
	gap: 4px;
}

.SearchResultItem-layout.rounded-border {
	border-radius: 8px;
}

.SearchResultItem-layout > div {
	background-color: gray;
}

.SearchResultItem-links {
	gap: 4px;
}

.SearchResultItem-links a {
	color: black;
}

.SearchResultItem-links div {
	padding: 4px;
	background-color: rgba(256, 128, 256);
	text-decoration: none;
	font-weight: normal;
	color: black;
}

.SearchResultItem-links .rounded-border {
	border-radius: 6px;
}

.SearchResultItem-layout .code-fragments {
	gap: 4px;
	color: black;
}

.SearchResultItem-layout .code-fragments > code {
	display: block;
	background-color: white;
	padding: 6px;
}
