.SearchBar-layout {
	width: 100%;
	padding: 6px;
	gap: 6px;
}

.SearchBar-layout .search-bar {
	gap: 12px;
	height: 48px;
}
.SearchBar-layout .search-bar :nth-child(1) {
	flex-grow: 2;
}

.SearchBar-layout .rate-limit {
	gap: 4px;
	justify-content: start;
}

.SearchBar-layout .rate-limit > div {
	background-color: white;
	color: black;
	padding: 0px 4px;
}
